# rename this file  to .env

PROJECT_ENDPOINT="https://<your-project-endpoint>"
CONNECTION_NAME="<your-connection-name>"
MODEL_DEPLOYMENT_NAME="<your-model-deployment-name>"

AZURE_BING_CONNECTION_ID="<your-azure-bing-connection-id>"
BING_CONNECTION_NAME="<your-bing-connection-name>"
BING_CUSTOM_CONNECTION_ID="<your-bing-custom-connection-id>"

AZURE_TRACING_GEN_AI_CONTENT_RECORDING_ENABLED="<true-or-false>"
APPLICATIONINSIGHTS_CONNECTION_STRING="<your-application-insights-connection-string>"

